<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'on',
                'list-group-item-danger': appareilStatus === 'off'}">
    <div style="width:20px;height:20px;background-color:red;"
    *ngIf="appareilStatus === 'off'"></div> 
    <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }}     ||||     état est : {{ getStatus() }}</h4> 
    <input type="text" class="form-control" [(ngModel)]="appareilName">
    <h5> ceci est un :  {{ testSI }} <!-- String interpolation , voir .ts--></h5>
</li>

