<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ title }}</h2><br/>
      <p>Mis à jour : {{ lastUpdate | date: 'EEEEdMMMMy' | uppercase }}</p><br>
      <ul class="list-group">
        <!--<app-mon-premier></app-mon-premier>-->
        <app-appareil  *ngFor="let appareil of appareils"
                       [appareilName]="appareil.name"
                       [appareilStatus]="appareil.status"></app-appareil>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"   
              (click)="onAllumer()">Tout allumer</button> <!-- event binding -->
    </div>
  </div>
</div>